* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular,sans-serif;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #1d1e26;
}

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
}

input:focus {
    border-color: transparent !important;
}

input {
    outline: none;
    border: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[role=button], a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    text-decoration: none;
    color: #333333;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}



.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    bottom: calc((100% - 20px)/2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 8px;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    bottom: calc((100% - 20px)/2);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s ease-in-out;
    font-family: 'Poppins';
}

@media (max-width: 1024px){
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

@media (min-width: 1025px){
    .alert-validate:hover::before {
        visibility: visible;
        opacity: 1;
    }
}

.btn-submit {
    background: transparent;
    border: none;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
}

.password-toggle {
    display: none;
}
  
.password-toggle.show {
    display: block;
}

.logo-login-with:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.3s;
    z-index: 999;
}

.m-0 {
    margin: 0px !important;
}
.w-100 {
    width: 100% !important;
}
.p-0 {
    padding: 0 !important;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

svg:not(:root) {
    overflow: hidden;
}

.middle {
    vertical-align: middle;
}

img, svg {
    vertical-align: middle;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

menu, article, aside, details, footer, header, nav, section {
    display: block;
}